extends layout

block content
    .container
        img.center-block(src='/images/back_banner.jpg')
        img.center-block(src='/images/rotate.jpg')
    .container
        div.padding-around
            h2.toCenter.textGreen(style="margin-top: 30px")= 'Welcome'
            h2.toCenter.textGreen(style="margin-top: -5px")= 'to'
            h2.toCenter.textGreen(style="margin-top: -5px")= 'Colenso Project'



// basex/bin/basexserver -d -c"CREATE DATABASE Colenso ./Colenso"