extends layout

block content
    .container
        p| Welcome to #{title}. We have an Excellent collection of videos in stock for you.
         | We are based in !{place}.



// basex/bin/basexserver -d -c"CREATE DATABASE Colenso ./Colenso"